/* You can add global styles to this file, and also import other style files */


/* to center elements*/
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-responsive{
  max-width: 100%;
  height: auto;
  display:block;
}

.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}


/* to scrollabe dropdown list*/
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}


/* dropdown list */
.dropdown .nav-link {color:#fff; text-decoration: none;}
.dropdown .dropdown-menu a{color: #000; text-decoration: none;}
.dropdown .btn {background: green; color:#fff;}
.dropdown .btn:hover {background: cyan; color:#000;}
.dropdown .btn:active {background: cyan; color:#000;}
.dropdown .btn:focus {background: cyan; color:#000;}


/* tabke with data*/
.table th {
  text-align: center;
}

.table {
  border-radius: 5px;
  width: 50%;
  margin: 5% auto;
  float: none;
}