<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"></h3>
          <nav class="navbar nav-item active navbar-expand-lg navbar-dark bg-dark">
              <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">HOME</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']" >Contact</a>
                  </li>                  
                </ul> 
                <button type="button" class="btn btn-light navbar-auth" *ngIf="!loginStatus" [routerLink]="['/login']">
                  Login
                </button>  
                <button type="button" class="btn btn-light navbar-auth" *ngIf="loginStatus" (click)="_authService.logOut()" [routerLink]="['/login']">
                  Logout
                </button>              
              </div>
            </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Make your catalog</h1>
        <p class="lead">
            Create your catalog of online car sales, in a simple and professional way. Do not waste hours of layout or high economic costs.
        </p>
        <p class="lead">
          <a [routerLink]="['/select-elements']" *ngIf="loginStatus" class="btn btn-lg btn-secondary" >Let's start</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Create by Sergio Pinto -- {{ year }}</p>
        </div>
      </footer>
    </div>
</body>