<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand"></h3>
        <nav class="navbar nav-item active navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">HOME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/contact']" >Contact</a>
                </li>                  
              </ul> 
              <button type="button" class="btn btn-light navbar-auth" *ngIf="!loginStatus" [routerLink]="['/login']">
                Login
              </button>  
              <button type="button" class="btn btn-light navbar-auth" *ngIf="loginStatus" (click)="_authService.logOut()" [routerLink]="['/login']">
                Logout
              </button>              
            </div>
          </nav>
      </div>
    </header>
    <div class="select-body">
      <h2>Select your vehicles</h2>
      <p *ngIf="loginStatus">
        Select the vehicles you want to include in your catalog, keep in mind that today's date is {{ currentDate }}.
      </p>
      <p *ngIf="!loginStatus">
        Please if you have not identified in the application go back to the login screen to use this feature.
      </p>
      <div class="dropdown show" *ngIf="loginStatus">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Vehicle
          </a>        
          <div class="dropdown-menu  scrollable-menu" aria-labelledby="dropdownMenuLink">
              <a *ngFor="let item of _carDataService.carData.data; let i = index" (click)="addCarTable(item)" class="dropdown-item">
                  {{i}} {{item.name}}
              </a>
          </div>
        </div>
        <div class="table-content" *ngIf="loginStatus">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Car model</th>
                  <th scope="col">Creation date</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of selectedCarList; let i = index">
                  <td>{{item.id_car_model}}</td> 
                  <td>{{item.name}}</td>
                  <td>{{item.date_create | date:'longDate' }}</td>   
                  <td>{{400000 | currency:'USD':true}}</td>                   
                </tr>    
              </tbody>
            </table>
          </div>
    </div>    
  </div>
</body>